*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
/* navbar css starts here */
.navbar-wrapper{
    background-color: rgb(71, 85, 105);
}
.navbar-main{
    
        color: white;
        display: flex;
        justify-content: space-between;
        max-width: 1200px;
        margin: 0 auto;
        padding: 20px;
        text-align: center;
}
.btn-primary{
    color: white;
    background-color: black;
    border: none;
    border-radius: 5px;
    margin-left: 10px;
}
.nav-hamburger-menu{
    display: none;
}
    