*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
/* navbar css starts here */
.navbar-wrapper{
    background-color: rgb(71, 85, 105);
}
.navbar-main{
    
        color: white;
        display: flex;
        justify-content: space-between;
        max-width: 1200px;
        margin: 0 auto;
        padding: 20px;
        text-align: center;
}
.btn-primary{
    color: white;
    background-color: black;
    border: none;
    border-radius: 5px;
    margin-left: 10px;
}
.nav-hamburger-menu{
    display: none;
}
/* banner css start here */
.banner-main{
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    padding: 10px;
    background-color: rgba(242, 242, 242);
    box-shadow: rgba(240, 248, 255, 0.348);
}
.main-content{
    max-width: 1200px;
    /* min-height: 400px; */
    /* border: 2px solid red; */
    margin: 0 auto;
    margin-top: 80px;
}
.banner-childs{
    width: 47%;
    position: relative;
    /* border: 2px solid green; */
}
.banner-childs img{
    width: 100%;
    border-radius: 10px;
}

.banner-btn{
    border: 2px solid gray;
    padding: 10px;
    background-color: transparent;
    border-radius: 5px;
    margin-top: 10px;
}
.fifty-off{
    background-color: rgba(0, 0, 0, 0.401);
    color: white;
    width: max-content;
    padding: 20px 60px;
    font-size: 25px;
    border-radius: 10px;
    position: absolute;
    top: 45%;
    left: 35%;
}
/* Popular Collection section */
.popular-main{
    margin-top: 60px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
}
.card{
    /* border: 2px solid green; */
    min-height: 200px;
    padding: 10px;
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.48);
    border-radius: 10px;

}
.fa-star{
    color: rgb(251, 130, 0);
}
.card img{
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
} 
    